 html{
    height: 100vh;  
    
 }

 body{
    display: flex;
    flex-direction: column;
  height: 100vh;
  margin: 2px;
  
 }
 header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    outline: 1px solid black;
    min-height: 50px;
}

 .logo {
    float: left;
    padding-left: 20px ;
    width: 100px;
    height: 30px;
    outline: 1px solid #000;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 10px;
}

 .righthead{
   display: flex; 
   justify-content: space-between;
   height: 30px;
   width: 280px;
   margin-right: 1%;
    margin-top: 10px;
}
button{
    background: none; 
    border-radius: 50px;
      
}
input {
    border: none;  
   
    }
#cart {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: rgb(245, 238, 238);
   
  }
  #man{
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: rgb(245, 238, 238);
  }

  .conteiner{
    display: flex;
    justify-content: space-between;
    outline: 1px solid #000;
   height: 100vh;
  }
.left{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 padding: 8px 5px;
 margin: auto;
 min-height: 30vh;
 max-width: 30vw;

}


.slide img{
  width: 100%;
  height: 100%;
}
.navigation img{
  width: 100%;
  height: 100%;
}

.slider{
  width: 70%;
  height: 70%;
  overflow: hidden;    
}

.slides{
  width: 400%;
  height: 100%;
  display: flex;
}
.slide{
  width: 25%;
  
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.navigation{
  justify-content: center;
  
  transform: translateY(50%);
  display: flex;
}
.bar{
  height: 90px;
  width: 90px;
  margin: 10px;
  cursor: pointer;
  background-color: #ddd;
 
 
  transition: all .4s ease;
}


#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}




.right{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
   padding: 8px 5px;
   margin: auto;
  }











  footer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    min-height: 50px;
      outline: 1px solid #000;
      border:#000;
     margin-top: auto ;
     
  }