.square {
    padding: 30px;
    border: 1px solid black;
    margin: 10px;
    
}

.element {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
padding: 8px 5px;
margin: auto;
}

.conteiner {
   
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: center;
    outline: 1px solid #000;
  
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #000;

}
.logo-holder{
  float: left;
  padding-left: 20px ;
  width: 100px;
  height: 30px;
  outline: 1px solid #000;
  border-radius: 50px;
  
}


button {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 150px;
  background: #ffffff;
  border-radius: 5px;
  
  outline: 1px solid #000;
}
.nav {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-left: 10px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 1px solid #000;
}

input {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50px;
 
  
}
.submit {
  position: absolute;
left: 8.33%;
right: 10.51%;
top: 8.33%;
bottom: 10.51%;

background: #000000;
}
#ser {
position: absolute;
left: 5.69%;
right: 92.89%;
top: 40.04%;
bottom: 55.62%;
}