.square {
    padding: 30px;
    border: 1px solid black;
    margin: 10px;
    
}

.element {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
padding: 8px 5px;
margin: auto;
}

.conteiner {
   
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: center;
    outline: 1px solid #000;
  
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #000;

}
.logo-holder{
  float: left;
  padding-left: 20px ;
  width: 100px;
  height: 30px;
  outline: 1px solid #000;
  border-radius: 50px;
  
}
.nav {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-left: 10px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 1px solid #000;
    border:#000;
}


.right {
 
  margin-left:auto ;
}

button {
  background: none; 
  border-radius: 50px;
}
input {
  border: none;
}
.cart {
  border-radius: 20px;
}
