
body {
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 98vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 10px;
  padding-right: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px solid #000;
  border: #000;
}

.logo-holder {
  padding-left: 20px;
  width: 100px;
  height: 30px;
  outline: 1px solid #000;
  border-radius: 50px;
}

.search_and_buttons {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  height: 30px;
  width: 280px;
}

a {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 20px;
}

button {
  background: none;
  border-radius: 50px;
}

input {
  border: none;
}

#cart {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background: rgb(245, 238, 238);
  margin-left: 1vw;
}

#man {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background: rgb(245, 238, 238);
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  outline: 1px solid #000;
  width: 100%;
  height: 100%;
}

.wood {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 5%;
  margin-left: 10px;
  
  
}
.cook {
  display: flex;
  justify-content: flex-start;
}
p {
  margin: 1px; 
}
.left_part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.slider {
  width: 80%;
  height: 80%;

}

.navigation {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 20%;
}
.right_part {
  width: 50%;
}



footer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 50px;
  outline: 1px solid #000;
  border: #000;
  margin-top: auto;
}