.square {
    padding: 45px;
    border: 1px solid black;
    margin: 1px;
    
}
a {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 20px;
}

.element {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
padding: 8px 5px;
margin: auto;
}

.conteiner {
  position: relative;
    outline: 1px solid #000;
  
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #000;

}
.logo-holder{
  float: left;
  padding-left: 20px ;
  width: 100px;
  height: 30px;
  outline: 1px solid #000;
  border-radius: 50px;
  
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 10px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 1px solid #000;
    border:#000;
}


.right {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  height: 30px;
  width: 280px;
}

button {
  
  background: none; 
  border-radius: 50px;
}
input {
  border: none;  
 
}
#cart {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background: rgb(245, 238, 238);
 
}
#man{
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background: rgb(245, 238, 238);
}
footer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 10px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 1px solid #000;
    border:#000;
}